process.shell = ['/bin/bash', '-ueo','pipefail' ]

process {
	executor = "slurm"
        queueSize = 50
        memory = { 50.GB * task.attempt }
	errorStrategy = { (task.exitStatus == 137 || task.exitStatus == 143) ? 'retry' : 'terminate' }
	maxRetries = 3
        queue = "pool,queue0,encode4,bigmem"
	cache = "deep"
}


conda{
	enabled = true
}


